<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Librarian</title>
    <style>
        body {
align: center;
justify-content: center;
text-align: center;
background-image:url('../images/user.jpg');
}
        .mainDiv{
            background: black;
            padding:8px;
        }
        ul{
            list-style-type:none;
        }
        .main_header_item_list{
            display:inline;
        }
        .main_header_item_list a.hover {
   color: red;
   }
   .main_header_item_list a.active {
   background-color: deepskyblue;
   }
   
        a{
            margin-right:5px;
            padding: 8px;
            text-decoration:none;
            color: white;
            background: green;
        }
   
       </style>
         <link rel="stylesheet" href="/css/main.css"/>
</head>
<body>
    <div class="mainDiv">
        <nav>
             <ul>
                 <li class="main_header_item_list">
                     <a href="/">Logout</a>
                 </li>
                 
             </ul>
        </nav>
    </div>
   
        <a href="showcase" class="active" ><h1></h1><h1>Show Books </h1></a>
        <a href="/underdeveloped" class="active" ><h1></h1><h1>My book List  </h1></a>

</body>
</html>