body {
    align: center;
    justify-content: center;
    text-align: center;
    }
.mainDiv{
    background: black;
    padding:8px;
}
ul{
    list-style-type:none;
}
.main_header_item_list{
    display:inline;
}
.main_header_item_list a.hover {
color: red;
}
.main_header_item_list a.active {
background-color: deepskyblue;
}
ul {
    background: #ff9999;
    padding: 20px;
  }
  ul li {
    background: #ffe5e5;
    padding: 5px;
    margin-left: 35px;
    
  }

  a:link, a:visited {
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  a:hover, a:active {
    background-color: red;
  }
.textbox {
    border: 2px solid green;
    margin: 10px;
    border-radius: 5px;
    justify-content: center;
    text-align: center;
    }
    
    .button {
    color: red;
    border-radius: 5px;
    height: 30px;
    width: 70px;
    }
